html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}


.mainCon{
    width: 700px;
    margin: auto;
    border: double rgb(30, 99, 228);
    background-color: rgb(147, 194, 238);

}


#roomWrap{
    margin: auto;
    width: 500px;
    height: 450px;
    
    
}

.chatCon{
    height: 100%;
    overflow: auto;
}

.messageBar{
    width: 400px;
    
}

.sendMessageCon{
    margin: auto;
    position: relative;
    padding: 7px 5px 7px 15px;
    width: 475px;
    border-top: 1px solid gray;
   
}